<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net>
		<!-- Создаем RollingFileAppender - шлюз, создающий новый файл с логом, при переполнении текущего -->

		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

			<file value="log\" />
			<appendToFile value="false" />
			<rollingStyle value="Date" />
			<datePattern value="dd.MM.yyyy/''HH_mm_ss'.txt'" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">

				<conversionPattern value="%date [%thread] %-5level %logger0 - %message%newline" />

			</layout>
			<!-- Альтернативный макет с использованием XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">

				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />

			</layout>
		</appender>


		<!-- Настройте корневую категорию, добавьте appenders и установите уровень по умолчанию, вданном случае WARN -->
		<!-- Бывает, что в живой системе таких предупреждений генерируется много, тогда для сокращения лога можно поставить ERROR  -->
		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
			<!-- <appender-ref ref="ADONetAppender_SqlServer" /> -->
			<!-- <appender-ref ref="A" /> -->
		</root>

	</log4net>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>